@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
#botonera {
  background-color: #CA9E64;
  font-size: 1.25rem; }
  #botonera ul {
    padding: 5px; }
    #botonera ul ul li a {
      color: black; }

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 15s; }

.navbar-toggler-icon {
  background-image: escape-svg navbar-light-toggler-icon-bg; }

.nav-link {
  color: black; }
  .nav-link:hover {
    color: white; }

body {
  background-color: black; }
  body section article {
    color: white; }

h1 {
  font-size: 2rem;
  color: goldenrod; }

h2 {
  font-size: 1.7rem;
  color: white; }

h3 {
  font-size: 1.5rem;
  color: whitesmoke; }

main section div {
  margin-top: 20px;
  padding: 10px 20px 10px 20px; }
  main section div p {
    font-size: 1.4rem;
    color: whitesmoke;
    padding: auto;
    font-family: Quicksand; }

#carta content {
  padding: auto; }
  #carta content h1 {
    text-align: center;
    margin-top: 20px; }
  #carta content div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.bg-promo1 {
  background-color: #51400C; }

.bg-promo2 {
  background-color: #584021; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white; }
  footer div a {
    text-decoration: none;
    margin: 40px;
    padding: 5px; }
  footer h3 {
    font-size: 1.5rem;
    margin: 30px auto; }
  footer h4, footer h5 {
    font-size: 1rem;
    margin: 50px 10px auto; }
  footer h5 {
    margin-bottom: 10px; }
